body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100vw;
    background-color: rgb(25, 33, 52) !important;
    background: rgb(25, 33, 52);
    background: linear-gradient(
      180deg,
      rgba(25, 33, 52, 1) 28%,
      rgba(7, 8, 21, 1) 75%
    );
    color: white;
  }