header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .logo{
    height: 60px;
    padding-right: 20px;
  }