.modalContent {
    border-top: 1px solid #363e54;
    /* padding-top: 20px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.tokenLogo {
    height: 40px;
    width: 40px;
}

.tokenChoice {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tokenChoice:hover {
    cursor: pointer;
    background-color: #1f2639;
}


.tokenName {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
}

.tokenTicker {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #51596f;
}