.ant-modal {
    /* border: 1px solid #363e54; */
    outline: solid 2px #363e54;
    width: 400px !important;
    border-radius: 10px;
    background-color: #0e111b !important;
    /* Removes the footerlike part */
    padding-bottom: 10px !important;
}


.ant-modal-content {
    background-color: transparent !important;
    color: white !important;
    padding: 0px !important;
    /* height: 60vh; */
    /* overflow: hidden; */

}

.ant-modal-header {
    background-color: transparent !important;
    /* background-color: #0e111b !important; */
}


.ant-modal-title {
    color: white !important;
    padding-top: 17px !important;
    margin-left: 20px !important;
}

.ant-modal-close-icon {
    color: #363e54 !important;
    transition: 0.3s;
}

.ant-modal-close-icon:hover {
    color: white !important;
}

.ant-modal-body {
    height: 60vh;
    overflow-y: hidden;
}


.modalContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    overflow: hidden;
}

.coinListSeperator {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.07);
}

.popularTokenHeader {
    padding: 10px 15px;
    color: rgba(255,255,255, 0.6);
}
.popularCoins {
    overflow-y: scroll;
    height: 160px;
}

.tokenLogo {
    height: 40px;
    width: 40px;
    background-blend-mode: multiply;
    border-radius: 10px;
}

.tokenChoice {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tokenChoice:hover {
    cursor: pointer;
    background-color: #1f2639;
}


.tokenName {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
}

.tokenSymbol {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #51596f;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: #1f2639;
    /* Optional: Add track color */
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #888;
    /* Optional: Add scrollbar handle color */
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Optional: Add hover color */
}